<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instasitter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaSitter">
        <activity android:name=".activities.ServiceProviderExtra"></activity>
        <activity android:name=".activities.RegisterPage" />
        <activity android:name=".activities.LoginPage" />
        <activity android:name=".activities.ServiceProviderProfile" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>